#fondo{
    background-color: blue;
}
#titulo{
    color: white;
    text-align: center;
}
#titulo2{
    text-align: center;
}
#calcu{
    text-align: center;
}
.boton{
    width: 50px;
}
#input{
    width: 210px;
    text-align: end;
}